#test-div-header{
    height: 30px;
    width: 50px;
    background-color: rgb(252, 64, 64);
    position: absolute;
    top: 0px;
    left: 200px;
}
#header-button{
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 215px;
}