#asset-main-div{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    
}
#asset-test-div{
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 1;
    background-color: blueviolet;
}
#map{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    /* display: none; */
}
.ui.modal {
    width: 900px;
    margin: 0em 0em 0em 0em;
    top: 130px;
    left: 238px;
    position: absolute;
}
#fdcdata{
    position: absolute;
    height: 100%;
    width: 100%;
}