<div id="asset-main-div">
    <div [style.display]="divTrueFalseA ? 'block': 'none'" id="asset-test-div"></div>
    <!-- <div id="popup"></div> -->
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Offline FDC Data
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="">
            </div>
            <!-- <div class="description">
                <div class="ui header">We've auto-chosen a profile image for you.</div>
                <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a>                    image associated with your registered e-mail address.</p>
                <p>Is it okay to use this photo?</p>
            </div> -->
            <!-- <form class="ui form">
                <div class="field">
                    <label>First Oil Data</label>
                    <input type="text" name="oil-data" placeholder="Oil Data"  [(ngModel)]="oildata" >
                </div>
                <div class="field">
                    <label>Gas Data</label>
                    <input type="text" name="gas-data" placeholder="Gas Data"  [(ngModel)]="gasdata"> 
                </div>
                <div class="field">
                </div>
                <button class="ui red button active" (click)="insert()">Submit</button>
                
            </form> -->
            <form class="ui form">
                <div class="field">
                    <label>First Oil Data</label>
                    <input type="text" name="oil-data" placeholder="Oil Data" [(ngModel)]="oildata">
                </div>
                <div class="field">
                    <label>Gas Data</label>
                    <input type="text" name="gas-data" placeholder="Gas Data" [(ngModel)]="gasdata">
                </div>
                <div class="field">
                </div>
                <button class="ui red button active" (click)="insert()">Submit</button>

            </form>
        </div>
        <div id="fdcdata">
            <font color = "blue" size = "4px">
            <table class="ui celled padded table" >
                <thead>
                    <tr>
                        <th>Oil Data</th>
                        <th>Gas Data</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>
                            <h2 class="ui center aligned header">A</h2>
                        </td>
                        <td class="single line">
                            Power Output
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="ui center aligned header">A</h2>
                        </td>
                        <td class="single line">
                            Weight
                        </td>
                    </tr> -->
                    <tr>
                        <td class="single line"> 
                            <li *ngFor="let d1 of A;let i=index" border = "1">{{d1}}</li>
                        </td>
                        <td class="single line">
                            <li *ngFor="let d2 of B;let i=index">{{d2}}</li>
                        </td>
                    </tr>

                </tbody>
            </table>
        </font>
        </div>
    </div>
</div>