<div id="asset-main-div">
    <div [style.display]="divTrueFalseA ? 'block': 'none'" id="asset-test-div"></div>
    <!-- <div id="popup"></div> -->
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Offline FDC Data
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="">
            </div>
            <!-- <div class="description">
                <div class="ui header">We've auto-chosen a profile image for you.</div>
                <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a>                    image associated with your registered e-mail address.</p>
                <p>Is it okay to use this photo?</p>
            </div> -->
            <form class="ui form">
                <div class="field">
                    <label>First Oil Data</label>
                    <input type="text" name="first-name" placeholder="Oil Data">
                </div>
                <div class="field">
                    <label>Gas Data</label>
                    <input type="text" name="last-name" placeholder="Gas Data">
                </div>
                <div class="field">
                </div>
                <button class="ui red button active" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>